li {
    font-size: 1.5rem;
    list-style-type: none;
}

body {
    background-image: url(../img/bg-image.jpg);
    background-size: cover;
}

input {
    background-color: rgba(0, 0, 255, 0);
}

.container-fluid {
    width: 50%;
    background-color: #ffffffbd;
    padding: 2rem 1rem;
    border-radius: 30px;
}